
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap');


html {

    --text__color__dark: #4e413b;
    --nav__color: #998B85;
    --card__color__dark: #C3B4A2;
    --card__color__normal: #D7CDC1;
    --card__color__light: #E3DCD3;
    --bg__color: #ece9e5;
    --text__color: white;

    --dashboard__spacing: 48px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    scroll-behavior: smooth;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var( --bg__color );
    margin: 0;
    -webkit-app-region: drag;
}


/* GENERICS */

.row {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}


/* NAVIGATION */


nav {
    position: absolute;
    background-color: var( --nav__color );
    height: calc( var(--dashboard__spacing) * 0.75 );
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    -webkit-app-region: drag;
}

nav * {
    -webkit-app-region: no-drag;
}

.nav__icons {
    font-size: 40px;
    color: var( --text__color );
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.nav__img {
    width: 24px;
    height: 24px;
    filter: invert(100%);
    cursor: pointer;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin-right: 18px;
    text-decoration: none;
    color: var( --text__color );
    font-family: 'Sometype Mono';
    font-weight: 800;
    font-size: 18px;
    border-bottom: rgba(0,0,0,0) 3px solid;
}

.nav__link:hover {
    border-bottom: currentColor 3px solid;
}

.nav__link--current {
    border-bottom: currentColor 3px solid;
}


/* MAIN PAGE */

.app__container {
    position: fixed;
    top: 50%;
    display: flex;
    height: calc(100vh - ( var(--dashboard__spacing) ) );
    width: 100%;
    max-width: 1500px;
    max-height: 800px;
    padding: var( --dashboard__spacing );
    left: 50%;
    translate: -50% -50%;
}

/* dash nodes */


.dashboard__nodes {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.node {
    display: flex;
    background-color: var( --card__color__light );
}

.node__title--container {
    background-color: var( --card__color__normal );
    width: 100%;
    height: var( --dashboard__spacing );
    display: flex;
    align-items: center;
    justify-content: center;
}

.node__title {
    font-family: 'Sometype Mono';
    color: var( --text__color__dark );
    font-weight: 700;
    font-size: 24px;
}


/* tasks */

.tasks__node {
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin: 0 var( --dashboard__spacing );
}

.task__list--title {
    color: var( --secondary__color );
    font-size: 24px;
}

.tasks__container {
    height: 100%;
    margin: var( --dashboard__spacing );
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 8px;
}

.tasks__container::-webkit-scrollbar {
    display: none;
}

.task__item {
    background-color: var( --card__color__normal );
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 8px;
}

.task__item--current {
    background-color: var( --card__color__dark );
    scale: 1.04;
    margin: 10px 0;
}

.task__item * {
    font: 16px 'Sometype Mono';
}



/* goals */

.goals-controls__container {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.goals__node {
    width: 100%;
    height: 100%;
}


/* controls */

.controls__node {
    flex-direction: column;
    width: 100%;
    height: 60%;
    margin-top: var( --dashboard__spacing );
}


/* stats */

.stats__node {
    flex-direction: column;
    width: 30%;
    height: 100%;
}


/* DAY PAGE */

.day__nodes {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.day__template--node,
.week__template--node {
    width: 40%;
    margin: 0 calc( var( --dashboard__spacing ) / 2 )
}


/* day */




/* week */